@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gandalf Store</h1>
    <p>To view the products, go to the dropdown menu "Categories" in the header!</p>
</div>
